@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px;
  background: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-top: 14px;
  margin-left: 20px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.description h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 92px 112px 62px 112px;
}

.description p {
  font-size: 18px;
  line-height: 21px;
  margin: 62px 85px 111px 85px;
}

.description-item {
  color: #000000;
  background-color: #82b3d3;
}

.description-wrapper {
  color: #ffffff;
}

.description-item-square {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.description-item-road {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.description-item-tourists {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.description-item-bridge {
  color: #ffffff;
}

.privilege-item-home {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.privilege-item-food {
  background: #ffffff;
  width: 400px;
}

.privilege-item-souvenirs {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.search {
  text-align: center;
  width: 1200px;
}

.search h2 {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 96px 452px 20px 452px;
}

.search p {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 304px 54px 304px;
}

.search-catalog {
  display: block;
  color: #ffffff;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
  margin: 54px 412px 96px 412px;
}

.hero {
  text-align: center;
  background-image: url("../images/background-welcome-rocks.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
}

.about {
  background-color: #ffffff;
  text-align: center;
}

.about h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 69px 290px 25px 290px;
}

.about p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 25px 274px 90px 275px;
}

.subscription {
  color: #ffffff;
  background-color: black;
  background-image: url("../images/background-subscribe.jpg");
  text-align: center;
  background-size: 100% auto;
}

.subscription-form {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 258px;
  padding-bottom: 104px;
}

.subscription h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscription p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.main-footer a {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.footer-contacts-address {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}

.catalog-products {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-left: 70px;
  padding-top: 35px;
}

.appartament-list {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1060px;
  padding: 0;
  padding-bottom: 80px;
  margin: 0 auto;
  list-style: none;
}

.appartament-list p {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.subscription-catalog {
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  height: 415px;
}

.subscription-catalog h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-catalog p {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.appartament-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 340px;
}

.appartament-card-button {
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
}

.appartament-card:nth-child(3n) {
  margin-right: 0;
}

.appartament-card-button-favorites {
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
}

.appartament-card-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.pagination {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 1060px;
  list-style: none;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  background: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.subscription-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #82b3d3;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background: #f2f2f2;
  width: 452px;
  height: 52px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  text-decoration: none;
  border: none;
  text-align: center;
}

.button-filter {
  background-color: #82b3d3;
  width: 191px;
  height: 36px;
}

.button-filter-reset {
  background-color: transparent;
  width: 191px;
  height: 36px;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.navigation-user {
  margin-right: 70px;
}

.description-item {
  width: 400px;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.privilege-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  margin-top: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  width: 150px;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.description-item-сity {
  color: #ffffff;
}

.catalog-filter-group {
  width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  padding-top: 40p;
  padding-top: 56px;
  margin-bottom: 70px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li img {
  display: block;
}

.hero img {
  margin-top: 51px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social-item {
  width: 50px;
  height: 50px;
}

.wrapper-button {
  display: flex;
  flex-direction: column;
}

.wrapper-select {
  display: flex;
  margin: 50px 70px 40px 70px;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 70px;
}

.button-select {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-select:not(:last-child) {
  margin-right: 8px;
}

.button {
  display: block;
}

.appartament-card-link {
  text-decoration: none;
}

.appartament-card-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.wrapper-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.appartament-card-apartments {
  margin: 0;
  padding: 0;
}

.appartament-card-price {
  margin: 0;
  padding: 0;
}
